
@{
    ViewData["Title"] = "Queries";
}

<h4>Thank You For Contacting Us</h4>
<p>
    Your Name : @ViewBag.Name
</p>
<p>
    Your Email Address : @ViewBag.Email
</p>
<p>
    Your Contact Number : @ViewBag.Contact
</p>
<p>
    Your Queries : @ViewBag.Message
</p>

