
@{
    ViewData["Title"] = "AboutUs";
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <link rel="icon" type="image/x-icon" href="logo2.png">
   
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="container-md">
                    <h1>Leave a Mark</h1><br />
                    <p>
                        We're known more by the impact we create
                        than the titles we hold. Impact that is brought by
                        working together on audacious challenges at scale
                        with an aim to revolutionize for the Indian customer.
                        We believe great ideas can emerge from anywhere
                        and must be backed. Our people - backed by our
                        culture of end-to-end ownership - have revolutionised
                        India's e-commerce sector - several times over!
                    </p>
                </div>
            </div>
            <div class="col">
                <img src="~/img/about1.jpg" class="rounded mx-auto d-block">
            </div>
        </div><br />
        <div class="row">
            <div class="col">
                <div class="container-md">
                    <img src="~/img/about2.jpg" class="rounded mx-auto d-block">
                </div>
            </div>
            <div class="col">
                <h1>Experiment Learn Grow</h1><br />
                <p>
                    Our journey of building India's biggest unicorn
                    start-up has been full of successes, but also failures
                    and learning from them. That's why there's calculated
                    risk-taking, a high willingness to learn and improvise,
                    and a growth orientation built into everything we do.
                    Whether it be opening a new warehouse, or making
                    our mobile app a bit more consumer friendly, we're
                    always experimenting, learning and growing!
                </p>
            </div>
        </div>
    </div>
</body>
</html>

