@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active mb-3">
            <img src="~/img/carousel1.jpg" class="d-block h-100 w-100">
        </div>
        <div class="carousel-item mb-3">
            <img src="~/img/carousel2.jpg" class="d-block w-100 h-100">
        </div>
        <div class="carousel-item mb-3">
            <img src="~/img/carousel3.jpg" class="d-block w-100 h-100">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br />
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 15rem;">
                <img src="~/img/men.jpg" class="card-img-top">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Men</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <img src="~/img/women.jpg" class="card-img-top">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Women</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <img src="~/img/boys.jpg" class="card-img-top">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Boys</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;">
                <img src="~/img/girls.jpg" class="card-img-top">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Girls</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
